*{
    padding: 0;
    margin: 0;
}
.container{
    position: relative;
    border: black 1px solid;
    width: 100%;
    height: 60px;
    
    background-color: black;
}
.jnb{
    position: absolute;
    right: 20px;
    top: 11.5px;
    font-size: 28px;
    display: inline-block;
    
    
}
.site{
    position:absolute;
    top:11.5px;
    left: 20px;
    font-size: 32px;
    display: inline-block;
    
}
.site a{
    font-family: Monospace;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.jnb a{
    padding: 13px 20px;
    font-family: fantasy;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.jnb a:hover{
    background-color: rgb(73, 233, 59);
}
    
    
    
    
   
    
    

   

    

    



    
    
    

